# See documentation here:
# https://blog.github.com/2017-07-06-introducing-code-owners/
#
# Anybody is free to add their name here

_posts/     @ubinfie/editorial-board
_config.yml @ubinfie/website
_plugins    @ubinfie/website
_includes   @ubinfie/website
_layouts    @ubinfie/website
assets      @ubinfie/website
