---
---

@import "minima";
@import "./rouge";

code, .highlighter-rouge .highlight {
	background: #fdf6e3; color: #657b83;
}

header {
	border-bottom: 1px solid grey;
}

ul.text-list, ol.text-list {
	margin-left: 0;
	list-style: none;
	padding-left: 0;

	li {
		display: inline;
	}
}

.contributors-line {
    color: var(--text-color-muted);
    font-size: 1.2em;

    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    line-height: 1.5em;

    .contributor-badge {
        img {
            height: 1.5em;
            line-height: 1.5em;
        }
        i {
            height: 1.5em;
            line-height: 1.5em;
            margin-left: 0.5em;
            margin-right: 0.5em;
        }
    }

}

.contributor-badge, .contributor-badge-inline {
    /* prevent breaking across lines */
    white-space: nowrap;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    border-radius: 1em;
    border: 1px solid black;
    padding-right: 0.5em;
    margin: 0.2em;
    line-height: 1em;
    flex-shrink: 0;

    img {
	height: 2em !important;
	width: 2em !important;
        border-radius: 50%;
        margin: 0 0.25em 0 0;
    }

    &:hover {
	background: var(--brand-color);
	color: var(--brand-color-contrast);
	text-decoration: none;
	border: 1px solid blue;
    }
}

.contributor-badge-inline {
    /* prevent breaking across lines */
    white-space: nowrap;
    img {
	height: 1em !important;
	width: 1em !important;
        border-radius: 50%;
        margin: 0 0.25em 0 0;
    }
}

.site-title {
	float: unset;
	}


a.external::after {
  content: "🔗";
  display: inline-block;
  margin-left: 0.2em;
}

details {
	margin-bottom:1em;
}
