---
---

@import "minima";
@import "./rouge";

* {
	font-family: "Recursive", sans-serif;
	font-weight: 370;
}
h1 {
	font-variation-settings: "CASL" 0.200, "CRSV" 0;
	font-weight: 500;
}
h2 {
	font-variation-settings: "CASL" 0.400, "CRSV" 0.2;
	font-weight: 450;
}
h3 {
	font-variation-settings: "CASL" 0.600, "CRSV" 0.4;
	font-weight: 400;
}
pre, code, kbd {
	font-variation-settings: "MONO" 1, "CASL" 1, "CRSV" 0;
}
.wrapper {
	max-width: calc(1100px - 30px * 2);
}
code, .highlighter-rouge .highlight {
	background: #fdf6e3; color: #657b83;
}

ul.text-list, ol.text-list {
	margin-left: 0;
	list-style: none;
	padding-left: 0;

	li {
		display: inline;
	}
}

.contributors-line {
    color: var(--text-color-muted);
    font-size: 1.2em;

    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    line-height: 1.5em;

    .contributor-badge {
        img {
            height: 1.5em;
            line-height: 1.5em;
        }
        i {
            height: 1.5em;
            line-height: 1.5em;
            margin-left: 0.5em;
            margin-right: 0.5em;
        }
    }

}

.contributor-badge, .contributor-badge-inline {
    /* prevent breaking across lines */
    white-space: nowrap;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    border-radius: 1em;
    border: 1px solid black;
    padding-right: 0.5em;
    margin: 0.2em;
    line-height: 1em;
    flex-shrink: 0;

    img {
	height: 2em !important;
	width: 2em !important;
        border-radius: 50%;
        margin: 0 0.25em 0 0;
    }

    &:hover {
	background: var(--brand-color);
	color: var(--brand-color-contrast);
	text-decoration: none;
	border: 1px solid blue;
    }
}

.contributor-badge-inline {
    /* prevent breaking across lines */
    white-space: nowrap;
    img {
	height: 1em !important;
	width: 1em !important;
        border-radius: 50%;
        margin: 0 0.25em 0 0;
    }
}

.site-title {
	float: unset;
	}


a.external::after {
  content: "🔗";
  display: inline-block;
  margin-left: 0.2em;
}

details {
	margin-bottom:1em;
}

article {
	display: grid;
	grid-template-rows: 3fr;
	gap: 1em 1em;
	grid-template-columns: repeat(6, 1fr);
	grid-template-areas:
	     ".   Title      Title      Title       Title       Title"
	     ".   Author     Author     Author      Author      Meta"
	     ".   Main       Main       Main        Main        Meta"
	     ".   Endmatter  Endmatter  Endmatter   Endmatter   .";

	@media (max-width: 768px) {
		grid-template-columns: minmax(0, 1fr);
		grid-template-areas:
		  "Title"
		  "Author"
		  "Main"
		  "Meta"
		  "Endmatter";
	}

	.post-title { grid-area: Title; }
	.post-header { grid-area: Meta; }
	.post-content { grid-area: Main; }
	.post-author { grid-area: Author; }
	#endmatter  { grid-area: Endmatter; }
	.post-meta {
		display: flex;
		flex-direction: column;

		div.meta-title:not(:first-child) {
			margin-top: 0.5em;
		}
		div.meta-title{
			font-size: 1.2em;
		}
	}

	.post-author { display: flex; flex-direction: row; align-items: center; }
	#post-contributions {
		ul.text-list {
			margin-bottom: 0;
		}
	}
}

figure.floating {
	max-width: 30ch;
	float: right;
}
