<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  {% if page.external %}
  <link rel="canonical" href="{{ page.external }}">
  <script>location="{{ page.external }}"</script>
  <meta http-equiv="refresh" content="0; url={{ page.external }}">
  <meta name="robots" content="noindex">

  {% endif %}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
