---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

	<header class="post-header">
		<h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
		<div class="post-meta">
			<div style="display: flex; justify-content: space-between">
			<time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
			{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
			{{ page.date | date: date_format }}
			</time>
			<div id="post-tags">
			{% if page.tags %}
			<span class="text-muted">Tagged:</span>
			{% for tag in page.tags %}
			<a href="{{ site.baseurl }}/tag/{{ tag | slugify }}" class="tag">{{ tag }}</a>
			{%- if forloop.last == false %}, {% endif %}
			{% endfor %}
			{% endif %}
			</div>
			</div>
			{% if page.contributors %}
			<span id="post-contributions">
			{% include contributors-list.html contributors=page.contributors badge=true %}
			</span >
			{% endif %}
		</div>
	</header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}

    {% if page.external %}
    <p>This is an external blog post. You will be redirected shortly.
    <a href="{{ page.external }}">Click here to be redirected now</a>
    {% endif %}
  </div>

  {% if page.cited %}
  <div class="citations">
	<h2 id="references">References</h2>
	{% bibliography --cited %}
  </div>
  {% endif %}
  <details>
	<summary>Citing this Post</summary>
	<div class="highlighter-rouge">
		<div class="highlight">
			<pre class="highlight"><code id="citation-code">@misc{% raw %}{{% endraw %}{{ page.slug  }},
	author = "{% for c in page.contributors %}{{ site.data.CONTRIBUTORS[c].name }}{% if forloop.last == false %} and {% endif %}{% endfor %}",
	title = "{{ page.title }}",
	year = "{{ page.date | date: "%Y"}}",
	month = "{{ page.date| date: "%m"}}",
	day = "{{ page.date| date: "%d" }}",
	url = "{{ site.url }}{{ site.baseurl }}{{page.url}}",
	note = "[Online; accessed TODAY]"
}</code></pre>
		</div>
	</div>
  </details>
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>


<script>
// update the date on load, or leave fallback of 'today'
const citationTodaysDate = new Date();
document.getElementById("citation-code").innerHTML = document.getElementById("citation-code").innerHTML.replace("TODAY", citationTodaysDate.toDateString());
document.getElementById("citation-text").innerHTML = document.getElementById("citation-text").innerHTML.replace("TODAY", citationTodaysDate.toDateString());
</script>
