---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
	<h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
	<header class="post-header">
		<div class="post-meta">
			<div class="meta-title">Published</div>
			<time class="dt-published" datetime="{{ page.published | date_to_xmlschema }}" itemprop="datePublished">
			{{ page.published | date: "%Y %b %d %H:%M" }}
			</time>
			{% if page.modified != page.published %}
			<div class="meta-title">Updated</div>
			<time class="dt-published" datetime="{{ page.modified | date_to_xmlschema }}" itemprop="dateUpdated">
			{{ page.modified | date: "%Y %b %d %H:%M" }}
			</time>
			{% endif %}

			<div class="meta-title">Revision</div>
			<span>
			{{ page.revision }}
			</span>

			<div class="meta-title">Reviewers</div>
			<ul style="list-style: none; margin-left: 0; margin-bottom: 0">
				{% for reviewer in page.reviewers %}
				<li>{% include contributor-badge-inline.html id=reviewer clean=true %}</li>
				{% endfor %}
			</ul>

			<div id="post-tags" class="meta-title">
				Tagged
			</div>
			{% if page.tags %}
			{% for tag in page.tags %}
			<a href="{{ site.baseurl }}/tag/{{ tag | slugify }}" class="tag">{{ tag }}</a>
			{% endfor %}
			{% endif %}
		</div>
	</header>
	
	<!-- authors -->
	<div class="post-author">
		{% if page.contributors %}
		<span class="text-muted">By:</span>
		<span id="post-contributions">
		{% include contributors-list.html contributors=page.contributors badge=true %}
		</span >
		{% endif %}
	</div>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}

    {% if page.external %}
    <p>This is an external blog post. You will be redirected shortly.
    <a href="{{ page.external }}">Click here to be redirected now</a>
    {% endif %}
  </div>

  <div id="endmatter">
  {% if page.cited %}
  <div class="citations">
	<h2 id="references">References</h2>
	{% bibliography --cited %}
  </div>
  {% endif %}
  <details>
	<summary>Citing this Post</summary>
	<div class="highlighter-rouge">
		<div class="highlight">
			<pre class="highlight"><code id="citation-code">@misc{% raw %}{{% endraw %}{{ page.slug  }},
	author = "{% for c in page.contributors %}{{ site.data.CONTRIBUTORS[c].name }}{% if forloop.last == false %} and {% endif %}{% endfor %}",
	title = "{{ page.title }}",
	year = "{{ page.date | date: "%Y"}}",
	month = "{{ page.date| date: "%m"}}",
	day = "{{ page.date| date: "%d" }}",
	url = "{{ site.url }}{{ site.baseurl }}{{page.url}}",
	note = "[Online; accessed TODAY]"
}</code></pre>
		</div>
	</div>
  </details>
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

  <div class="comments">
    <h2 id="comments">Comments</h2>
    <script src="https://giscus.app/client.js"
        data-repo="ubinfie/ubinfie.github.io"
        data-repo-id="R_kgDOLmbbdA"
        data-category="Discussion"
        data-category-id="DIC_kwDOLmbbdM4Cesic"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
    </script>
  </div>
  </div>
</article>


<script>
// update the date on load, or leave fallback of 'today'
const citationTodaysDate = new Date();
document.getElementById("citation-code").innerHTML = document.getElementById("citation-code").innerHTML.replace("TODAY", citationTodaysDate.toDateString());
</script>
